.container-fluid{
    background-image: url(https://besthqwallpapers.com/img/original/8799/light-bulb-idea-light-idea-concepts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-color:black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color: black;
}
.navbar{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.homefont{
    font-family: 'Amatic SC', cursive;
    font-size: 1000%;
}

.title{
    font-family: 'Suranna', serif;
}
.homesub{
    text-decoration: underline;
}
.homea{
    color: rgb(104, 4, 24);
}
.homea:hover{
    color: white;
    text-decoration: underline;
}
.dropdown-item{
    color: rgb(104, 4, 24);

}
.dropdown-item:hover{
    color: rgb(20, 20, 83);
    text-decoration: none;
}
.dropdown-menu{
    width: max-content;
    height: max-content;
    padding: 15px;
}
.username {
    color: rgb(216, 6, 48);
}